In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("Data/testset.csv")

In [3]:
data.head()

,datetime_utc,_conds,_dewptm,_fog,_hail,_heatindexm,_hum,_precipm,_pressurem,_rain,_snow,_tempm,_thunder,_tornado,_vism,_wdird,_wdire,_wgustm,_windchillm,_wspdm
0,19961101-11:00,Smoke,9.0,0,0,NaN,27.0,NaN,1010.0,0,0,30.0,0,0,5.0,280.0,West,NaN,NaN,7.4
1,19961101-12:00,Smoke,10.0,0,0,NaN,32.0,NaN,-9999.0,0,0,28.0,0,0,NaN,0.0,North,NaN,NaN,NaN
2,19961101-13:00,Smoke,11.0,0,0,NaN,44.0,NaN,-9999.0,0,0,24.0,0,0,NaN,0.0,North,NaN,NaN,NaN
3,19961101-14:00,Smoke,10.0,0,0,NaN,41.0,NaN,1010.0,0,0,24.0,0,0,2.0,0.0,North,NaN,NaN,NaN
4,19961101-16:00,Smoke,11.0,0,0,NaN,47.0,NaN,1011.0,0,0,23.0,0,0,1.2,0.0,North,NaN,NaN,0.0

In [4]:
data.columns=map(lambda x : x.strip(),data.columns)
data.columns

Index(['datetime_utc', '_conds', '_dewptm', '_fog', '_hail', '_heatindexm',
       '_hum', '_precipm', '_pressurem', '_rain', '_snow', '_tempm',
       '_thunder', '_tornado', '_vism', '_wdird', '_wdire', '_wgustm',
       '_windchillm', '_wspdm'],
      dtype='object')

In [5]:
def extract_year(value):
    return (value[0:4])

In [6]:
def extract_month(value):
    return (value[4:6])

In [7]:
def extract_date(value):
    return (value[6:8])

In [8]:
data["year"]=data["datetime_utc"].apply(lambda x : extract_year(x))

In [9]:
data["month"]=data["datetime_utc"].apply(lambda x : extract_month(x))

In [10]:
data["date"]=data["datetime_utc"].apply(lambda x : extract_date(x))

In [11]:
data.year.value_counts()

2003    13186
2004     9151
2002     8503
2001     8403
2016     6634
1997     6513
1999     6300
2000     5391
1998     3579
2014     2973
2015     2936
2005     2920
2007     2865
2006     2858
2008     2857
2009     2851
2010     2768
2011     2738
2012     2438
2013     2428
2017     1420
1996     1278
Name: year, dtype: int64

In [12]:
data.groupby("year")._tempm.mean()

year
1996    16.518636
1997    24.444635
1998    24.847371
1999    27.335731
2000    23.865647
2001    25.582460
2002    26.481948
2003    26.176556
2004    26.004396
2005    24.712715
2006    25.449245
2007    24.800211
2008    24.525744
2009    25.355360
2010    25.553338
2011    24.966362
2012    25.024661
2013    24.679222
2014    25.175735
2015    25.141832
2016    27.315734
2017    20.204369
Name: _tempm, dtype: float64

In [13]:
data_filtered=data[['datetime_utc', '_conds', '_dewptm', '_fog', '_hail',
       '_hum', '_pressurem', '_rain', '_snow', '_tempm',
       '_thunder', '_tornado', '_vism', '_wdird', '_wdire'
       , '_wspdm', 'year', "month","date"]]

In [14]:
# NANs in dewptm
data_filtered[data_filtered._dewptm.isnull()]

,datetime_utc,_conds,_dewptm,_fog,_hail,_hum,_pressurem,_rain,_snow,_tempm,_thunder,_tornado,_vism,_wdird,_wdire,_wspdm,year,month,date
124,19961108-01:00,Smoke,NaN,0,0,NaN,1014.0,0,0,NaN,0,0,2.0,0.0,North,0.0,1996,11,08
240,19961113-02:00,Smoke,NaN,0,0,NaN,1012.0,0,0,NaN,0,0,NaN,280.0,West,5.6,1996,11,13
303,19961116-06:00,Unknown,NaN,0,0,NaN,-9999.0,0,0,NaN,0,0,NaN,0.0,North,NaN,1996,11,16
520,19961126-04:00,Smoke,NaN,0,0,NaN,1017.0,0,0,NaN,0,0,1.6,0.0,North,0.0,1996,11,26
584,19961129-18:00,Smoke,NaN,0,0,NaN,-9999.0,0,0,NaN,0,0,0.7,0.0,North,0.0,1996,11,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96965,20160907-08:30,Haze,NaN,0,0,NaN,1005.0,0,0,NaN,0,0,4.5,320.0,NW,9.3,2016,09,07
97259,20160924-12:30,Haze,NaN,0,0,NaN,1002.0,0,0,NaN,0,0,3.0,0.0,North,0.0,2016,09,24
98049,20161025-07:30,Widespread Dust,NaN,0,0,NaN,1009.0,0,0,NaN,0,0,3.5,280.0,West,14.8,2016,10,25
99347,20161221-05:30,Haze,NaN,0,0,NaN,1018.0,0,0,NaN,0,0,3.0,270.0,West,11.1,2016,12,21
99716,20170108-03:00,Patches of Fog,NaN,1,0,NaN,1016.0,0,0,NaN,0,0,0.5,NaN,NaN,0.0,2017,01,08

In [15]:
# Replace NAN with avg
for index,row in data_filtered[data_filtered._dewptm.isnull()].iterrows():
    mean=data_filtered[data_filtered["year"]==row["year"]]._dewptm.mean()
    data_filtered.at[index,"_dewptm"]=mean

In [16]:
data_filtered[data_filtered._dewptm.isnull()]

Empty DataFrame
Columns: [datetime_utc, _conds, _dewptm, _fog, _hail, _hum, _pressurem, _rain, _snow, _tempm, _thunder, _tornado, _vism, _wdird, _wdire, _wspdm, year, month, date]
Index: []

In [17]:
data_filtered.isnull().sum()

datetime_utc        0
_conds             72
_dewptm             0
_fog                0
_hail               0
_hum              757
_pressurem        232
_rain               0
_snow               0
_tempm            673
_thunder            0
_tornado            0
_vism            4428
_wdird          14755
_wdire          14755
_wspdm           2358
year                0
month               0
date                0
dtype: int64

In [18]:
for index,row in data_filtered[data_filtered._hum.isnull()].iterrows():
    mean=data_filtered[data_filtered["year"]==row["year"]]._hum.mean()
    data_filtered.at[index,"_hum"]=mean

In [19]:
data_filtered.isnull().sum()

datetime_utc        0
_conds             72
_dewptm             0
_fog                0
_hail               0
_hum                0
_pressurem        232
_rain               0
_snow               0
_tempm            673
_thunder            0
_tornado            0
_vism            4428
_wdird          14755
_wdire          14755
_wspdm           2358
year                0
month               0
date                0
dtype: int64

In [20]:
data_filtered.head()

,datetime_utc,_conds,_dewptm,_fog,_hail,_hum,_pressurem,_rain,_snow,_tempm,_thunder,_tornado,_vism,_wdird,_wdire,_wspdm,year,month,date
0,19961101-11:00,Smoke,9.0,0,0,27.0,1010.0,0,0,30.0,0,0,5.0,280.0,West,7.4,1996,11,01
1,19961101-12:00,Smoke,10.0,0,0,32.0,-9999.0,0,0,28.0,0,0,NaN,0.0,North,NaN,1996,11,01
2,19961101-13:00,Smoke,11.0,0,0,44.0,-9999.0,0,0,24.0,0,0,NaN,0.0,North,NaN,1996,11,01
3,19961101-14:00,Smoke,10.0,0,0,41.0,1010.0,0,0,24.0,0,0,2.0,0.0,North,NaN,1996,11,01
4,19961101-16:00,Smoke,11.0,0,0,47.0,1011.0,0,0,23.0,0,0,1.2,0.0,North,0.0,1996,11,01

In [21]:
data_filtered._pressurem.replace(-9999.0,np.nan,inplace=True)

E:\conda\lib\site-packages\pandas\core\generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [22]:
data_filtered.head()

,datetime_utc,_conds,_dewptm,_fog,_hail,_hum,_pressurem,_rain,_snow,_tempm,_thunder,_tornado,_vism,_wdird,_wdire,_wspdm,year,month,date
0,19961101-11:00,Smoke,9.0,0,0,27.0,1010.0,0,0,30.0,0,0,5.0,280.0,West,7.4,1996,11,01
1,19961101-12:00,Smoke,10.0,0,0,32.0,NaN,0,0,28.0,0,0,NaN,0.0,North,NaN,1996,11,01
2,19961101-13:00,Smoke,11.0,0,0,44.0,NaN,0,0,24.0,0,0,NaN,0.0,North,NaN,1996,11,01
3,19961101-14:00,Smoke,10.0,0,0,41.0,1010.0,0,0,24.0,0,0,2.0,0.0,North,NaN,1996,11,01
4,19961101-16:00,Smoke,11.0,0,0,47.0,1011.0,0,0,23.0,0,0,1.2,0.0,North,0.0,1996,11,01

In [23]:
for index,row in data_filtered[data_filtered._pressurem.isnull()].iterrows():
    mean=data_filtered[data_filtered["year"]==row["year"]]._pressurem.mean()
    data_filtered.at[index,"_pressurem"]=mean

In [24]:
data_filtered.head()

,datetime_utc,_conds,_dewptm,_fog,_hail,_hum,_pressurem,_rain,_snow,_tempm,_thunder,_tornado,_vism,_wdird,_wdire,_wspdm,year,month,date
0,19961101-11:00,Smoke,9.0,0,0,27.0,1010.000000,0,0,30.0,0,0,5.0,280.0,West,7.4,1996,11,01
1,19961101-12:00,Smoke,10.0,0,0,32.0,1015.429612,0,0,28.0,0,0,NaN,0.0,North,NaN,1996,11,01
2,19961101-13:00,Smoke,11.0,0,0,44.0,1015.429612,0,0,24.0,0,0,NaN,0.0,North,NaN,1996,11,01
3,19961101-14:00,Smoke,10.0,0,0,41.0,1010.000000,0,0,24.0,0,0,2.0,0.0,North,NaN,1996,11,01
4,19961101-16:00,Smoke,11.0,0,0,47.0,1011.000000,0,0,23.0,0,0,1.2,0.0,North,0.0,1996,11,01

In [25]:
data_filtered.isnull().sum()

datetime_utc        0
_conds             72
_dewptm             0
_fog                0
_hail               0
_hum                0
_pressurem          0
_rain               0
_snow               0
_tempm            673
_thunder            0
_tornado            0
_vism            4428
_wdird          14755
_wdire          14755
_wspdm           2358
year                0
month               0
date                0
dtype: int64

In [26]:
for index,row in data_filtered[data_filtered._tempm.isnull()].iterrows():
    mean=data_filtered[data_filtered["year"]==row["year"]]._tempm.mean()
    data_filtered.at[index,"_tempm"]=mean

In [27]:
data_filtered.isnull().sum()

datetime_utc        0
_conds             72
_dewptm             0
_fog                0
_hail               0
_hum                0
_pressurem          0
_rain               0
_snow               0
_tempm              0
_thunder            0
_tornado            0
_vism            4428
_wdird          14755
_wdire          14755
_wspdm           2358
year                0
month               0
date                0
dtype: int64

In [28]:
data_filtered.head()

,datetime_utc,_conds,_dewptm,_fog,_hail,_hum,_pressurem,_rain,_snow,_tempm,_thunder,_tornado,_vism,_wdird,_wdire,_wspdm,year,month,date
0,19961101-11:00,Smoke,9.0,0,0,27.0,1010.000000,0,0,30.0,0,0,5.0,280.0,West,7.4,1996,11,01
1,19961101-12:00,Smoke,10.0,0,0,32.0,1015.429612,0,0,28.0,0,0,NaN,0.0,North,NaN,1996,11,01
2,19961101-13:00,Smoke,11.0,0,0,44.0,1015.429612,0,0,24.0,0,0,NaN,0.0,North,NaN,1996,11,01
3,19961101-14:00,Smoke,10.0,0,0,41.0,1010.000000,0,0,24.0,0,0,2.0,0.0,North,NaN,1996,11,01
4,19961101-16:00,Smoke,11.0,0,0,47.0,1011.000000,0,0,23.0,0,0,1.2,0.0,North,0.0,1996,11,01

In [29]:
for index,row in data_filtered[data_filtered._vism.isnull()].iterrows():
    mean=data_filtered[data_filtered["year"]==row["year"]]._vism.mean()
    data_filtered.at[index,"_vism"]=mean

In [30]:
data_filtered.isnull().sum()

datetime_utc        0
_conds             72
_dewptm             0
_fog                0
_hail               0
_hum                0
_pressurem          0
_rain               0
_snow               0
_tempm              0
_thunder            0
_tornado            0
_vism               0
_wdird          14755
_wdire          14755
_wspdm           2358
year                0
month               0
date                0
dtype: int64

In [31]:
for index,row in data_filtered[data_filtered._wspdm.isnull()].iterrows():
    mean=data_filtered[data_filtered["year"]==row["year"]]._wspdm.mean()
    data_filtered.at[index,"_wspdm"]=mean

In [32]:
mean=data_filtered[data_filtered["year"]==row["year"]]._wdird.mean()
for index,row in data_filtered[data_filtered._wdird.isnull()].iterrows():    
    data_filtered.at[index,"_wdird"]=mean

In [33]:
data_filtered.isnull().sum()

datetime_utc        0
_conds             72
_dewptm             0
_fog                0
_hail               0
_hum                0
_pressurem          0
_rain               0
_snow               0
_tempm              0
_thunder            0
_tornado            0
_vism               0
_wdird              0
_wdire          14755
_wspdm              0
year                0
month               0
date                0
dtype: int64

In [34]:
most_frequent = data_filtered[data_filtered["year"] == row["year"]]._wdire.value_counts().idxmax()
for index,row in data_filtered[data_filtered._wdire.isnull()].iterrows():
    data_filtered.at[index, "_wdire"] = most_frequent

In [35]:
data_filtered.isnull().sum()

datetime_utc     0
_conds          72
_dewptm          0
_fog             0
_hail            0
_hum             0
_pressurem       0
_rain            0
_snow            0
_tempm           0
_thunder         0
_tornado         0
_vism            0
_wdird           0
_wdire           0
_wspdm           0
year             0
month            0
date             0
dtype: int64

In [36]:
most_frequent = data_filtered[data_filtered["year"] == row["year"]]._conds.value_counts().idxmax()
for index,row in data_filtered[data_filtered._conds.isnull()].iterrows():
    data_filtered.at[index, "_conds"] = most_frequent

In [37]:
data_filtered.isnull().sum()

datetime_utc    0
_conds          0
_dewptm         0
_fog            0
_hail           0
_hum            0
_pressurem      0
_rain           0
_snow           0
_tempm          0
_thunder        0
_tornado        0
_vism           0
_wdird          0
_wdire          0
_wspdm          0
year            0
month           0
date            0
dtype: int64

In [38]:
# Preprocessing Done

In [39]:
data_filtered._conds.value_counts()

Haze                             47674
Smoke                            20760
Mist                              9375
Clear                             3129
Widespread Dust                   2856
Fog                               2760
Scattered Clouds                  2209
Partly Cloudy                     2091
Shallow Fog                       1860
Mostly Cloudy                     1537
Light Rain                        1302
Partial Fog                       1031
Patches of Fog                     901
Thunderstorms and Rain             486
Heavy Fog                          421
Light Drizzle                      414
Rain                               394
Unknown                            383
Blowing Sand                       378
Overcast                           326
Thunderstorm                       192
Light Thunderstorms and Rain       176
Drizzle                            112
Light Thunderstorm                  64
Light Fog                           64
Heavy Rain                          28
Heavy Thunderstorms and Rain        22
Thunderstorms with Hail             11
Light Sandstorm                      6
Squalls                              6
Light Rain Showers                   5
Volcanic Ash                         4
Light Haze                           4
Rain Showers                         2
Sandstorm                            2
Funnel Cloud                         2
Light Freezing Rain                  1
Heavy Thunderstorms with Hail        1
Light Hail Showers                   1
Name: _conds, dtype: int64

In [40]:
# Feature and Target Matrix

In [41]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [42]:
data_filtered.head()

,datetime_utc,_conds,_dewptm,_fog,_hail,_hum,_pressurem,_rain,_snow,_tempm,_thunder,_tornado,_vism,_wdird,_wdire,_wspdm,year,month,date
0,19961101-11:00,Smoke,9.0,0,0,27.0,1010.000000,0,0,30.0,0,0,5.000000,280.0,West,7.400000,1996,11,01
1,19961101-12:00,Smoke,10.0,0,0,32.0,1015.429612,0,0,28.0,0,0,2.198981,0.0,North,5.052735,1996,11,01
2,19961101-13:00,Smoke,11.0,0,0,44.0,1015.429612,0,0,24.0,0,0,2.198981,0.0,North,5.052735,1996,11,01
3,19961101-14:00,Smoke,10.0,0,0,41.0,1010.000000,0,0,24.0,0,0,2.000000,0.0,North,5.052735,1996,11,01
4,19961101-16:00,Smoke,11.0,0,0,47.0,1011.000000,0,0,23.0,0,0,1.200000,0.0,North,0.000000,1996,11,01

In [43]:
data_filtered.columns

Index(['datetime_utc', '_conds', '_dewptm', '_fog', '_hail', '_hum',
       '_pressurem', '_rain', '_snow', '_tempm', '_thunder', '_tornado',
       '_vism', '_wdird', '_wdire', '_wspdm', 'year', 'month', 'date'],
      dtype='object')

In [44]:
feature_columns=['_wdire','_dewptm','_fog','_hail','_hum','_pressurem','_rain',
                 '_snow','_tempm','_thunder','_tornado','_vism','_wdird','_wspdm',
                 'year','month','_conds','date']

In [45]:
data_final=data_filtered[feature_columns]

In [46]:
data_final.head()

,_wdire,_dewptm,_fog,_hail,_hum,_pressurem,_rain,_snow,_tempm,_thunder,_tornado,_vism,_wdird,_wspdm,year,month,_conds,date
0,West,9.0,0,0,27.0,1010.000000,0,0,30.0,0,0,5.000000,280.0,7.400000,1996,11,Smoke,01
1,North,10.0,0,0,32.0,1015.429612,0,0,28.0,0,0,2.198981,0.0,5.052735,1996,11,Smoke,01
2,North,11.0,0,0,44.0,1015.429612,0,0,24.0,0,0,2.198981,0.0,5.052735,1996,11,Smoke,01
3,North,10.0,0,0,41.0,1010.000000,0,0,24.0,0,0,2.000000,0.0,5.052735,1996,11,Smoke,01
4,North,11.0,0,0,47.0,1011.000000,0,0,23.0,0,0,1.200000,0.0,0.000000,1996,11,Smoke,01

In [47]:
data_final.dtypes

_wdire         object
_dewptm       float64
_fog            int64
_hail           int64
_hum          float64
_pressurem    float64
_rain           int64
_snow           int64
_tempm        float64
_thunder        int64
_tornado        int64
_vism         float64
_wdird        float64
_wspdm        float64
year           object
month          object
_conds         object
date           object
dtype: object

In [48]:
wdire_dummies=pd.get_dummies(data_final["_wdire"])

In [49]:
conds_dummies=pd.get_dummies(data_final["_conds"])

In [50]:
data_final=pd.concat([wdire_dummies,data_final],axis=1)
data_final=pd.concat([conds_dummies,data_final],axis=1)

In [51]:
data_final.head()

,Blowing Sand,Clear,Drizzle,Fog,Funnel Cloud,Haze,Heavy Fog,Heavy Rain,Heavy Thunderstorms and Rain,Heavy Thunderstorms with Hail,...,_tempm,_thunder,_tornado,_vism,_wdird,_wspdm,year,month,_conds,date
0,0,0,0,0,0,0,0,0,0,0,...,30.0,0,0,5.000000,280.0,7.400000,1996,11,Smoke,01
1,0,0,0,0,0,0,0,0,0,0,...,28.0,0,0,2.198981,0.0,5.052735,1996,11,Smoke,01
2,0,0,0,0,0,0,0,0,0,0,...,24.0,0,0,2.198981,0.0,5.052735,1996,11,Smoke,01
3,0,0,0,0,0,0,0,0,0,0,...,24.0,0,0,2.000000,0.0,5.052735,1996,11,Smoke,01
4,0,0,0,0,0,0,0,0,0,0,...,23.0,0,0,1.200000,0.0,0.000000,1996,11,Smoke,01

In [52]:
y=data_final["_tempm"]
y

0         30.0
1         28.0
2         24.0
3         24.0
4         23.0
          ...
100985    34.0
100986    38.0
100987    36.0
100988    32.0
100989    30.0
Name: _tempm, Length: 100990, dtype: float64

In [53]:
data_final.drop("_wdire",inplace=True,axis=1)
data_final.drop("_conds",inplace=True,axis=1)

In [54]:
data_final.drop("_tempm",inplace=True,axis=1)

In [55]:
data_final.columns

Index(['Blowing Sand', 'Clear', 'Drizzle', 'Fog', 'Funnel Cloud', 'Haze',
       'Heavy Fog', 'Heavy Rain', 'Heavy Thunderstorms and Rain',
       'Heavy Thunderstorms with Hail', 'Light Drizzle', 'Light Fog',
       'Light Freezing Rain', 'Light Hail Showers', 'Light Haze', 'Light Rain',
       'Light Rain Showers', 'Light Sandstorm', 'Light Thunderstorm',
       'Light Thunderstorms and Rain', 'Mist', 'Mostly Cloudy', 'Overcast',
       'Partial Fog', 'Partly Cloudy', 'Patches of Fog', 'Rain',
       'Rain Showers', 'Sandstorm', 'Scattered Clouds', 'Shallow Fog', 'Smoke',
       'Squalls', 'Thunderstorm', 'Thunderstorms and Rain',
       'Thunderstorms with Hail', 'Unknown', 'Volcanic Ash', 'Widespread Dust',
       'ENE', 'ESE', 'East', 'NE', 'NNE', 'NNW', 'NW', 'North', 'SE', 'SSE',
       'SSW', 'SW', 'South', 'Variable', 'WNW', 'WSW', 'West', '_dewptm',
       '_fog', '_hail', '_hum', '_pressurem', '_rain', '_snow', '_thunder',
       '_tornado', '_vism', '_wdird', '_wspdm', 'year', 'month', 'date'],
      dtype='object')

In [56]:
data_final.head()

,Blowing Sand,Clear,Drizzle,Fog,Funnel Cloud,Haze,Heavy Fog,Heavy Rain,Heavy Thunderstorms and Rain,Heavy Thunderstorms with Hail,...,_rain,_snow,_thunder,_tornado,_vism,_wdird,_wspdm,year,month,date
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,5.000000,280.0,7.400000,1996,11,01
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2.198981,0.0,5.052735,1996,11,01
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2.198981,0.0,5.052735,1996,11,01
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2.000000,0.0,5.052735,1996,11,01
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1.200000,0.0,0.000000,1996,11,01

In [57]:
X=data_final.iloc[:,:].values

In [58]:
X.shape

(100990, 71)

In [59]:
y=y.values

In [60]:
y.shape

(100990,)

In [61]:
# Train and Test Part

In [62]:
from sklearn.model_selection import train_test_split

In [82]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.10,random_state=0)

In [83]:
print("Shape of X_train", X_train.shape)
print("Shape of X_test", X_test.shape)
print("Shape of y_train", y_train.shape)
print("Shape of y_test", y_test.shape)

Shape of X_train (90891, 71)
Shape of X_test (10099, 71)
Shape of y_train (90891,)
Shape of y_test (10099,)

In [84]:
#Create Model
from sklearn.tree import DecisionTreeRegressor
model=DecisionTreeRegressor(random_state=0)

In [85]:
model.fit(X_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=0, splitter='best')

In [86]:
y_pred=model.predict(X_test)

In [87]:
y_pred

array([29., 27., 18., ..., 29., 32., 30.])

In [88]:
y_test

array([28., 27., 18., ..., 29., 31., 30.])

In [89]:
# Accuracy
model.score(X_test,y_pred)

1.0

In [90]:
y_pred.size

10099

In [93]:
avg=0
for i in range(0,y_pred.size):
    avg+=abs(y_pred[i]-y_test[i])
avg

2470.7985691635263

In [95]:
avg/(y_pred.size)

0.24465774523849157

In [96]:
df = pd.DataFrame({'Real Values':y_test.reshape(-1), 'Predicted Values':y_pred.reshape(-1)})
df

       Real Values  Predicted Values
0             28.0              29.0
1             27.0              27.0
2             18.0              18.0
3             38.0              38.0
4             17.0              17.0
...            ...               ...
10094         22.0              22.0
10095         35.0              35.0
10096         29.0              29.0
10097         31.0              32.0
10098         30.0              30.0

[10099 rows x 2 columns]

In [97]:
from sklearn.metrics import mean_squared_error

In [98]:
mean_squared_error(y_test,y_pred)

0.6014739394098485

In [77]:
y

array([30., 28., 24., ..., 36., 32., 30.])

In [78]:
y>50

array([False, False, False, ..., False, False, False])

In [79]:
d=y>50

In [80]:
d.size

100990

In [81]:
for i in range(0,d.size):
    if(d[i]==True):
        print("here")

here
here
here
here